* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.calculator .calculator__container {
  background: #000;
  padding: 1rem;
}
.calculator .calculator__container .calculator__screen {
  height: 10rem;
}
.calculator .calculator__container .calculator__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.calculator .calculator__container .calculator__buttons .calculator__buttons-btn {
  padding: 1rem;
  border-radius: 50%;
  border: none;
  color: #fff;
  background: #313131;
}
.calculator .calculator__container .calculator__buttons .calculator__buttons-btn--settings {
  background: #9F9F9F;
  color: #000;
}
.calculator .calculator__container .calculator__buttons .calculator__buttons-btn--operations {
  background: #F69A06;
}
.calculator .calculator__container .calculator__buttons .calculator__buttons-btn--elongated {
  grid-column: span 2;
}