$background-color: #000;

$operations-color: #F69A06;
$number-color: #313131;
$settings-color: #9F9F9F;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .calculator__container {
        background: $background-color;
        padding: 1rem;
        color: #fff;

        .calculator__screen {
            height: 10rem;
        }

        .calculator__buttons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            gap: 1rem;

            .calculator__buttons-btn {
                padding: 1rem;
                border-radius: 50%;
                border: none;
                color: #fff;
                background: $number-color;
                font-size: 2rem;

                &--settings {
                    background: $settings-color;
                    color: $background-color;
                }

                &--operations {
                    background: $operations-color;
                }

                &--elongated {
                    grid-column: span 2;
                }
            }
        }
    }
}